body{
    margin: 0 auto;
    width: 100%;
    background-color: pink;
}
.logo h1{
    color: blue;
    margin: 20px 60px;
    font-family: 'Fascinate', cursive;;
    width:300px;
    
    }
.logo{
    background-image:url("https://content.codecademy.com/articles/github-pages-via-web-app/happy-ice-cream.gif") ;
    height: auto;
    background-size: 20px;
    width: 400px;
    height: 80px;
    border: 1px solid red;
    margin: 0 30px;
}
.logo:hover{
    border: 10px solid rgb(88, 8, 179);
    transition-duration:.6s;
    transition-timing-function:ease-in-out;
}
.logo img{
    height:100px;
    margin: 0 0 0 270px;
    
}
.main-content{  
    margin: 20px auto;
}

.main-content h1{
    width: 400px;
    margin: 0 60px;
    
}
.main-content img{
    display: block;
    z-index: -1;
    margin: 0 auto;
    width: fit-content;
}
.main-content h2{
    margin: 0 auto;
    text-align:center;
    width: fit-content;
    color: pink;
}

.main-content h2:hover{
    background-color: black;
    transition-duration: 2s ;

}