body{
    height: 0px; width: 400px;
    margin: 0 auto;
    background-image:url("3b8ad2c7b1be2caf24321c852103598a.jpg");
}
.Main-page{
    height: 700px; width: 392px;
    margin: 0 auto;
    text-align:center;
    background-image:url("3b8ad2c7b1be2caf24321c852103598a.jpg");
    background-size: cover;
}

.welcome h1{
    text-align: center;
    color: white;
    font-family: 'Stick', sans-serif;
}

.squares-photos{
    height: fit-content;
    margin-top: 90px;
    
}

.squares-photos img{
    border: 5px dotted black;
    margin: 0 0 0 0px;
    border-radius: 20%;
    opacity: 0.6;
}

.squares-photos1{
    height: fit-content;
    margin-top:150px;
    
}
.squares-photos1 img{
    border: 5px dotted black;
    margin: 0 0 0 0px;
    border-radius: 20%;
    opacity: 0.8;
}

.squares-photos1 img:hover{
    height: 65px;
    opacity: 1;
    transition-duration: 0.5s;
}

.squares-photos img:hover{
    background-image: url("Untitled.png");
    z-index: 10;
    height: 210px;
    opacity: 1;
    transition-duration: 0.5s;
}

.squares-photos h3{
    font-size: 22px;
    font-family: 'Stick', sans-serif;
    color: rgb(167, 160, 160);
}
