body{
    height: 0px; width: 400px;
    margin: 0 auto;
    background-image:url("img/3b8ad2c7b1be2caf24321c852103598a.jpg");
}
.Main-page{
    height: auto; width: 392px;
    margin: 0 auto;
    text-align:center;
    background-image:url("img/3b8ad2c7b1be2caf24321c852103598a.jpg");
    background-size: cover;
}

.welcome h1{
    text-align: center;
    color: white;
    font-family: 'Stick', sans-serif;
}

.images img{
    height: 350px;
}